<!doctype html>
<!--
A minimal HTML template to wrap the content for textutil HTML to RTF conversion.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log Page README</title>
    <meta name="description" content="Log Page is an AppleScript for Mac OS X that logs the title and URL of the frontmost web browser window along with the current date and time, a user-definable category, and an optional note to a plain text file. The result is a categorized, chronological, plain text list of bookmarks -- a bookmarks log." />
    <meta name="keywords" content="applescript, safari, web browser" />
    <!-- Non-standard metatags for textutil HTML to RTF conversion -->
    <meta name="author" content="Steve Wheeler" />
    <meta name="subject" content="AppleScript" />
    <meta name="company" content="Jazzhead Design (jazzheaddesign.com)" />
    <meta name="copyright" content="© 2011-2015 Steve Wheeler. All rights reserved." />
    <!-- Mostly ignored by textutil, but font-family and font-size work -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<%= @body %>
</body>
</html>
